body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.section-top__btn, .products__btn, .request-call__btn, .about-articles__link, .submenu__link.active, .about-articles__prev-link, .submenu__link, .header__menu-link, .section-top__text, .count__title, .footer__item-title, .about-news__inner p, .about-vacancies__text, .about-articles__prev-title, .about-articles__slide--title, .about-partners__inner p {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.title, .section-top__percent, .sale-slider__text, .sale-slider__title, .count__number {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}

.section-top__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

.section-top__btn, .products__btn, .request-call__btn, .about-articles__link {
  width: 280px;
  background-color: #ff7300;
  height: 60px;
  color: #fff;
  line-height: 24px;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.submenu__link.active, .about-articles__prev-link {
  width: 180px;
  background-color: #ff7300;
  height: 30px;
  color: #fff;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: #556680;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.275em;
  margin-bottom: 50px;
  position: relative;
  z-index: 4;
}

.slick-slide:focus {
  outline: none;
}

.submenu {
  margin-top: 70px;
  margin-bottom: 50px;
}

.submenu__inner {
  padding: 0 40px;
}

.submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.submenu__link {
  color: #556680;
}

.header {
  margin-top: 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  color: #556680;
  font-size: 18px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.header__menu-item {
  margin-left: 59px;
}

.header__menu-link {
  color: #556680;
}

.header__menu-link.active {
  border-bottom: 1px solid #000;
}

.section-top {
  margin-top: 58px;
}

.section-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top__box {
  text-transform: uppercase;
}

.section-top__title {
  color: #4c75b2;
  font-size: 72px;
  letter-spacing: 0.275em;
}

.section-top__text-box {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  margin-right: 5px;
}

.section-top__percent {
  font-size: 72px;
  letter-spacing: 0.275em;
}

.section-top__text {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.section-top__text span {
  display: block;
  font-size: 12px;
  letter-spacing: 0.06em;
  margin-top: 10px;
}

.section-top__img {
  position: relative;
}

.section-top__img::before {
  content: "";
  display: block;
  background-color: #00760c;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translate(200px, 100px);
          transform: translate(200px, 100px);
}

.section-top__img img {
  max-width: 782px;
}

.products {
  margin-top: 190px;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.products__item {
  width: 280px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: linear-gradient(33.67deg, rgba(12, 128, 255, 0.087) 3.04%, rgba(12, 36, 62, 0) 98.92%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  padding: 0 25px 32px;
  color: #000;
}

.products__bg {
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.products__item-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.products__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sale-slider {
  margin-top: 90px;
  background-color: #ff7300;
}

.sale-slider__inner {
  padding: 30px 0 49px;
  text-transform: uppercase;
  color: #fff;
}

.sale-slider__offer {
  background-color: #0d233f;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.sale-slider__items {
  position: relative;
}

.sale-slider__items .slick-prev,
.sale-slider__items .slick-next {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  z-index: 3;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.sale-slider__items .slick-prev.slick-disabled,
.sale-slider__items .slick-next.slick-disabled {
  opacity: 0.6;
}

.sale-slider__items .slick-next {
  left: 94px;
}

.sale-slider__items .slick-dots {
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 28px;
  color: #fff;
  font-size: 16px;
}

.sale-slider__items .slick-dots li {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.sale-slider__items .slick-dots li:not(.slick-active) {
  display: none;
}

.sale-slider__items .slick-dots-button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.sale-slider__items .slick-dots-current,
.sale-slider__items .slick-dots-total {
  display: inline-block;
}

.sale-slider__items .slick-dots-total {
  opacity: 0.6;
}

.sale-slider__items .slick-dots-separator {
  position: relative;
  margin: 0 10px;
}

.sale-slider__items .slick-dots-separator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 16px;
  background: #fff;
  -webkit-transform: rotate(7deg) translateY(-50%);
          transform: rotate(7deg) translateY(-50%);
}

.sale-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-slider__item:focus {
  outline: none;
}

.sale-slider__box {
  max-width: 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 40px;
}

.sale-slider__text {
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.12em;
  margin-bottom: 26px;
}

.sale-slider__title {
  font-size: 30px;
  letter-spacing: 0.275em;
}

.sale-slider__img img {
  max-width: 790px;
}

.about {
  padding: 120px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  line-height: 24px;
  max-width: 585px;
}

.about__text p {
  text-indent: 40px;
}

.about__img img {
  max-width: 480px;
}

.count {
  padding: 117px 0 125px;
  background-color: #00760c;
}

.count__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.count__item {
  text-align: center;
  width: 250px;
}

.count__number {
  font-size: 38px;
  letter-spacing: 0.275em;
  color: #ff7300;
}

.count__title {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.trust {
  padding: 120px 0 0;
}

.trust__text {
  max-width: 425px;
  line-height: 24px;
  letter-spacing: -0.03em;
  position: relative;
  z-index: 4;
}

.trust__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  position: relative;
}

.trust__items .slick-list.draggable {
  padding: 0 0 0 235px !important;
}

.trust__items .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.trust__items .slick-prev,
.trust__items .slick-next {
  position: absolute;
  bottom: -40px;
  right: 0;
  display: inline-block;
  z-index: 3;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.trust__items .slick-prev.slick-disabled,
.trust__items .slick-next.slick-disabled {
  opacity: 0.6;
}

.trust__items .slick-prev {
  right: 94px;
}

.trust__items .slick-dots {
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: -40px;
  right: 24px;
  color: #000;
  font-size: 16px;
}

.trust__items .slick-dots li {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.trust__items .slick-dots li:not(.slick-active) {
  display: none;
}

.trust__items .slick-dots-button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.trust__items .slick-dots-current,
.trust__items .slick-dots-total {
  display: inline-block;
}

.trust__items .slick-dots-total {
  opacity: 0.6;
}

.trust__items .slick-dots-separator {
  position: relative;
  margin: 0 10px;
}

.trust__items .slick-dots-separator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 16px;
  background: #000;
  -webkit-transform: rotate(7deg) translateY(-50%);
          transform: rotate(7deg) translateY(-50%);
}

.trust__item {
  margin: 0 10px;
}

.trust__item img {
  width: 180px;
  height: 260px;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
}

.trust__item.slick-current.slick-active.slick-center img {
  width: 480px;
  height: 680px;
}

.request-call {
  background-color: #039812;
  padding: 108px 0 78px;
}

.request-call__title {
  color: #fff;
}

.request-call__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-call__name, .request-call__phone {
  max-width: 380px;
  width: 100%;
  height: 60px;
  padding: 0 10px 0 15px;
}

.request-call__btn {
  border: none;
  max-width: 380px;
  width: 100%;
}

.request-call__label {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-call__check {
  margin-right: 12px;
}

.request-call__text {
  margin: 0;
  color: #fff;
  letter-spacing: -0.03em;
}

.request-call__link {
  color: #fff;
  text-decoration: underline;
}

.footer {
  background-color: #00760c;
  padding-bottom: 20px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 86px 0;
  color: #fff;
}

.footer__item {
  width: 150px;
}

.footer__item-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 18px;
}

.footer__menu-list {
  margin-top: 38px;
}

.footer__menu-item {
  margin-bottom: 21px;
}

.footer__menu-link {
  font-style: normal;
  color: #fff;
  letter-spacing: -0.03em;
  line-height: 20px;
}

.footer__catalog {
  width: 240px;
}

.footer__info {
  width: 230px;
}

.footer__contacts {
  width: 290px;
}

.footer__police {
  width: 300px;
  color: #fff;
  text-decoration: underline;
  line-height: 24px;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.about-about {
  padding-bottom: 90px;
}

.about-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-about__text {
  max-width: 585px;
}

.about-about__text p {
  text-indent: 40px;
}

.about-about__text p:first-child {
  margin-top: 0;
}

.about-about__img img {
  max-width: 480px;
}

.about-news {
  padding-bottom: 90px;
}

.about-news__inner p {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.about-gallery {
  padding-bottom: 90px;
}

.about-gallery__item img {
  max-width: 1180px;
  max-height: 720px;
}

.about-gallery .slick-prev,
.about-gallery .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  z-index: 3;
  font-size: 38px;
  color: #000;
  width: 60px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about-gallery .slick-prev.slick-disabled,
.about-gallery .slick-next.slick-disabled {
  opacity: 0.6;
}

.about-gallery .slick-prev:hover,
.about-gallery .slick-next:hover {
  color: #fff;
  width: 60px;
  height: 80px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 3px 3px 0;
}

.about-gallery .slick-next {
  right: 0;
}

.about-gallery .slick-next:hover {
  border-radius: 3px 0 0 3px;
}

.about-gallery .slick-prev {
  left: 0;
}

.about-gallery .slick-dots {
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000;
  font-size: 20px;
}

.about-gallery .slick-dots li {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.about-gallery .slick-dots li:not(.slick-active) {
  display: none;
}

.about-gallery .slick-dots-button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.about-gallery .slick-dots-current,
.about-gallery .slick-dots-total {
  display: inline-block;
}

.about-gallery .slick-dots-total {
  opacity: 0.6;
}

.about-gallery .slick-dots-separator {
  position: relative;
  margin: 0 10px;
}

.about-gallery .slick-dots-separator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 20px;
  background: #000;
  -webkit-transform: rotate(7deg) translateY(-50%);
          transform: rotate(7deg) translateY(-50%);
}

.about-vacancies {
  padding-bottom: 90px;
}

.about-vacancies__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-vacancies__text {
  margin-top: 0;
  max-width: 460px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 14px;
}

.about-vacancies__img img {
  max-width: 484px;
}

.about-articles {
  padding-bottom: 90px;
}

.about-articles__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-articles__prev-box {
  max-width: 582px;
}

.about-articles__prev-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.about-articles__prev-text {
  font-size: 14px;
  text-indent: 30px;
}

.about-articles__prev-link {
  text-transform: uppercase;
  margin-top: 30px;
}

.about-articles__prev-img {
  max-width: 480px;
}

.about-articles__slider {
  margin-top: 90px;
}

.about-articles__slider .slick-prev,
.about-articles__slider .slick-next {
  position: absolute;
  bottom: -60px;
  right: 0;
  display: inline-block;
  z-index: 3;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.about-articles__slider .slick-prev.slick-disabled,
.about-articles__slider .slick-next.slick-disabled {
  opacity: 0.6;
}

.about-articles__slider .slick-prev {
  right: 94px;
}

.about-articles__slider .slick-dots {
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: -60px;
  right: 24px;
  color: #000;
  font-size: 16px;
}

.about-articles__slider .slick-dots li {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.about-articles__slider .slick-dots li:not(.slick-active) {
  display: none;
}

.about-articles__slider .slick-dots-button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.about-articles__slider .slick-dots-current,
.about-articles__slider .slick-dots-total {
  display: inline-block;
}

.about-articles__slider .slick-dots-total {
  opacity: 0.6;
}

.about-articles__slider .slick-dots-separator {
  position: relative;
  margin: 0 10px;
}

.about-articles__slider .slick-dots-separator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 16px;
  background: #000;
  -webkit-transform: rotate(7deg) translateY(-50%);
          transform: rotate(7deg) translateY(-50%);
}

.about-articles__slide {
  width: 280px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20.12%, rgba(12, 36, 62, 0.3)), to(rgba(12, 36, 62, 0)));
  background: linear-gradient(360deg, rgba(12, 36, 62, 0.3) 20.12%, rgba(12, 36, 62, 0) 100%);
  padding: 0 14px 15px;
  color: #000;
}

.about-articles__slide-bg {
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.about-articles__slide--title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #fff;
}

.about-articles__link {
  margin-top: 60px;
  height: 30px;
  text-transform: uppercase;
}

.about-partners {
  padding-bottom: 90px;
}

.about-partners__inner p {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.about-tabs .tab-item-about {
  display: none;
}

.about-tabs .tab-item-about.active-tab {
  display: block;
}
