@import "_vars";
@import "_global";

.header {
	margin-top: 15px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__phone {
		color: $color-text;
		font-size: 18px;
	}

	&__menu-list {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 0.12em;
	}

	&__menu-item {
		margin-left: 59px;
	}

	&__menu-link {
		@extend %roboto-mono-bold;
		color: $color-text;
		&.active {
			border-bottom: 1px solid #000;
		}
	}
}
.section-top {
	margin-top: 58px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__box {
		text-transform: uppercase;
	}

	&__title {
		color: #4c75b2;
		@extend %sans-narrow-bold;
		font-size: 72px;
		letter-spacing: 0.275em;
	}

	&__text-box {
		margin-top: 40px;
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		margin-right: 5px;
	}

	&__percent {
		@extend %sans-narrow-regular;
		font-size: 72px;
		letter-spacing: 0.275em;
	}

	&__text {
		@extend %roboto-mono-bold;
		font-size: 18px;
		letter-spacing: 0.1em;
		span {
			display: block;
			font-size: 12px;
			letter-spacing: 0.06em;
			margin-top: 10px;
		}
	}

	&__btn {
		@extend %btn;
	}

	&__img {
		position: relative;
		&::before {
			content: "";
			display: block;
			background-color: #00760c;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			transform: translate(200px, 100px);
		}
		img {
			max-width: 782px;
		}
	}
}

.products {
	margin-top: 190px;
	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}

	&__item {
		width: 280px;
		height: 400px;
		position: relative;
		display: flex;
		align-items: flex-end;
		background: linear-gradient(33.67deg, rgba(12, 128, 255, 0.087) 3.04%, rgba(12, 36, 62, 0) 98.92%);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
		padding: 0 25px 32px;
		color: #000;
	}

	&__bg {
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__item-title {
		text-transform: uppercase;
		letter-spacing: 0.12em;
	}

	&__btn {
		@extend %btn;
		align-self: center;
	}
}
.sale-slider {
	margin-top: 90px;
	background-color: #ff7300;

	&__inner {
		padding: 30px 0 49px;
		text-transform: uppercase;
		color: #fff;
	}

	&__offer {
		background-color: #0d233f;
		border-radius: 2px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.12em;
		padding: 4px 10px;
		display: inline-block;
		margin-bottom: 5px;
	}

	&__items {
		position: relative;

		.slick-prev,
		.slick-next {
			position: absolute;
			bottom: 0;
			left: 0;
			display: inline-block;
			z-index: 3;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			&.slick-disabled {
				opacity: 0.6;
			}
		}

		.slick-next {
			left: 94px;
		}
		.slick-dots {
			margin: 0;
			list-style: none;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 28px;
			color: #fff;
			font-size: 16px;
		}
		.slick-dots li {
			display: inline-block;
			position: relative;
			pointer-events: none;
		}
		.slick-dots li:not(.slick-active) {
			display: none;
		}
		.slick-dots-button {
			padding: 0;
			background: none;
			border: none;
			color: inherit;
			cursor: pointer;
			outline: none;
		}
		.slick-dots-current,
		.slick-dots-total {
			display: inline-block;
		}
		.slick-dots-total {
			opacity: 0.6;
		}
		.slick-dots-separator {
			position: relative;
			margin: 0 10px;
		}
		.slick-dots-separator::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 1px;
			width: 1px;
			height: 16px;
			background: #fff;
			transform: rotate(7deg) translateY(-50%);
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		&:focus {
			outline: none;
		}
	}

	&__box {
		max-width: 500px;
		align-self: flex-end;
		margin-bottom: 40px;
	}

	&__text {
		@extend %sans-narrow-regular;
		font-size: 50px;
		line-height: 64px;
		letter-spacing: 0.12em;
		margin-bottom: 26px;
	}

	&__title {
		@extend %sans-narrow-regular;
		font-size: 30px;
		letter-spacing: 0.275em;
	}

	&__img {
		img {
			max-width: 790px;
		}
	}
}
.about {
	padding: 120px 0;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		line-height: 24px;
		max-width: 585px;
		p {
			text-indent: 40px;
		}
	}

	&__img {
		img {
			max-width: 480px;
		}
	}
}
.count {
	padding: 117px 0 125px;
	background-color: $color-green;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		text-align: center;
		width: 250px;
	}

	&__number {
		@extend %sans-narrow-regular;
		font-size: 38px;
		letter-spacing: 0.275em;
		color: #ff7300;
	}

	&__title {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		@extend %roboto-mono-bold;
	}
}

.trust {
	padding: 120px 0 0;

	&__text {
		max-width: 425px;
		line-height: 24px;
		letter-spacing: -0.03em;
		position: relative;
		z-index: 4;
		// padding-bottom: 240px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		transform: translateY(-200px);
		position: relative;
		.slick-list.draggable {
			padding: 0 0 0 235px !important;
		}
		.slick-track {
			display: flex;
			align-items: flex-end;
			padding-bottom: 10px;
		}
		.slick-prev,
		.slick-next {
			position: absolute;
			bottom: -40px;
			right: 0;
			display: inline-block;
			z-index: 3;
			font-size: 16px;
			color: #000;
			cursor: pointer;
			&.slick-disabled {
				opacity: 0.6;
			}
		}

		.slick-prev {
			right: 94px;
		}
		.slick-dots {
			margin: 0;
			list-style: none;
			text-align: center;
			position: absolute;
			bottom: -40px;
			right: 24px;
			color: #000;
			font-size: 16px;
		}
		.slick-dots li {
			display: inline-block;
			position: relative;
			pointer-events: none;
		}
		.slick-dots li:not(.slick-active) {
			display: none;
		}
		.slick-dots-button {
			padding: 0;
			background: none;
			border: none;
			color: inherit;
			cursor: pointer;
			outline: none;
		}
		.slick-dots-current,
		.slick-dots-total {
			display: inline-block;
		}
		.slick-dots-total {
			opacity: 0.6;
		}
		.slick-dots-separator {
			position: relative;
			margin: 0 10px;
		}
		.slick-dots-separator::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 1px;
			width: 1px;
			height: 16px;
			background: #000;
			transform: rotate(7deg) translateY(-50%);
		}
	}

	&__item {
		margin: 0 10px;
		img {
			width: 180px;
			height: 260px;
			box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
		}
		&.slick-current.slick-active.slick-center {
			img {
				width: 480px;
				height: 680px;
			}
		}
	}
}

.request-call {
	background-color: $color-green-light;
	padding: 108px 0 78px;
	&__title {
		color: #fff;
	}

	&__back {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__name,
	&__phone {
		max-width: 380px;
		width: 100%;
		height: 60px;
		padding: 0 10px 0 15px;
	}

	&__btn {
		@extend %btn;
		border: none;
		max-width: 380px;
		width: 100%;
	}

	&__label {
		margin-top: 38px;
		display: flex;
	}

	&__check {
		margin-right: 12px;
	}

	&__text {
		margin: 0;
		color: #fff;
		letter-spacing: -0.03em;
	}

	&__link {
		color: #fff;
		text-decoration: underline;
	}
}

.footer {
	background-color: $color-green;
	padding-bottom: 20px;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 86px 0;
		color: #fff;
	}

	&__item {
		width: 150px;
	}

	&__item-title {
		text-transform: uppercase;
		@extend %roboto-mono-bold;
		letter-spacing: 0.12em;
		font-size: 18px;
	}

	&__menu-list {
		margin-top: 38px;
	}

	&__menu-item {
		margin-bottom: 21px;
	}

	&__menu-link {
		font-style: normal;
		color: #fff;
		letter-spacing: -0.03em;
		line-height: 20px;
	}

	&__catalog {
		width: 240px;
	}

	&__info {
		width: 230px;
	}

	&__contacts {
		width: 290px;
	}

	&__police {
		width: 300px;
		color: #fff;
		text-decoration: underline;
		line-height: 24px;
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
}

// about
.about-about {
	padding-bottom: 90px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		max-width: 585px;
		p {
			text-indent: 40px;
		}
		p:first-child {
			margin-top: 0;
		}
	}

	&__img {
		img {
			max-width: 480px;
		}
	}
}

.about-news {
	padding-bottom: 90px;
	&__inner {
		p {
			text-transform: uppercase;
			@extend %roboto-mono-bold;
			letter-spacing: 0.12em;
		}
	}
}

.about-gallery {
	padding-bottom: 90px;
	&__inner {
	}

	&__item {
		img {
			max-width: 1180px;
			max-height: 720px;
		}
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		z-index: 3;
		font-size: 38px;
		color: #000;
		width: 60px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.2s;
		&.slick-disabled {
			opacity: 0.6;
		}
		&:hover {
			color: #fff;
			width: 60px;
			height: 80px;
			background-color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0 3px 3px 0;
		}
	}
	.slick-next {
		right: 0;
		&:hover {
			border-radius: 3px 0 0 3px;
		}
	}
	.slick-prev {
		left: 0;
	}
	.slick-dots {
		margin: 0;
		list-style: none;
		text-align: center;
		position: absolute;
		top: 10px;
		left: 10px;
		color: #000;
		font-size: 20px;
	}
	.slick-dots li {
		display: inline-block;
		position: relative;
		pointer-events: none;
	}
	.slick-dots li:not(.slick-active) {
		display: none;
	}
	.slick-dots-button {
		padding: 0;
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		outline: none;
	}
	.slick-dots-current,
	.slick-dots-total {
		display: inline-block;
	}
	.slick-dots-total {
		opacity: 0.6;
	}
	.slick-dots-separator {
		position: relative;
		margin: 0 10px;
	}
	.slick-dots-separator::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 1px;
		width: 1px;
		height: 20px;
		background: #000;
		transform: rotate(7deg) translateY(-50%);
	}
}

.about-vacancies {
	padding-bottom: 90px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		margin-top: 0;
		max-width: 460px;
		@extend %roboto-mono-bold;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		font-size: 14px;
	}

	&__img {
		img {
			max-width: 484px;
		}
	}
}

.about-articles {
	padding-bottom: 90px;

	&__inner {
	}

	&__prev {
		display: flex;
		justify-content: space-between;
	}

	&__prev-box {
		max-width: 582px;
	}

	&__prev-title {
		text-transform: uppercase;
		@extend %roboto-mono-bold;
		letter-spacing: 0.12em;
	}

	&__prev-text {
		font-size: 14px;
		text-indent: 30px;
	}

	&__prev-link {
		@extend %submenu-btn;
		text-transform: uppercase;
		margin-top: 30px;
	}

	&__prev-img {
		max-width: 480px;
	}

	&__slider {
		margin-top: 90px;
		.slick-prev,
		.slick-next {
			position: absolute;
			bottom: -60px;
			right: 0;
			display: inline-block;
			z-index: 3;
			font-size: 16px;
			color: #000;
			cursor: pointer;
			&.slick-disabled {
				opacity: 0.6;
			}
		}

		.slick-prev {
			right: 94px;
		}
		.slick-dots {
			margin: 0;
			list-style: none;
			text-align: center;
			position: absolute;
			bottom: -60px;
			right: 24px;
			color: #000;
			font-size: 16px;
		}
		.slick-dots li {
			display: inline-block;
			position: relative;
			pointer-events: none;
		}
		.slick-dots li:not(.slick-active) {
			display: none;
		}
		.slick-dots-button {
			padding: 0;
			background: none;
			border: none;
			color: inherit;
			cursor: pointer;
			outline: none;
		}
		.slick-dots-current,
		.slick-dots-total {
			display: inline-block;
		}
		.slick-dots-total {
			opacity: 0.6;
		}
		.slick-dots-separator {
			position: relative;
			margin: 0 10px;
		}
		.slick-dots-separator::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 1px;
			width: 1px;
			height: 16px;
			background: #000;
			transform: rotate(7deg) translateY(-50%);
		}
	}

	&__slide {
		width: 280px;
		height: 400px;
		position: relative;
		display: flex;
		align-items: flex-end;
		background: linear-gradient(360deg, rgba(12, 36, 62, 0.3) 20.12%, rgba(12, 36, 62, 0) 100%);
		padding: 0 14px 15px;
		color: #000;
	}

	&__slide-bg {
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__slide--title {
		@extend %roboto-mono-bold;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		color: #fff;
	}

	&__link {
		margin-top: 60px;
		@extend %btn;
		height: 30px;
		text-transform: uppercase;
	}
}

.about-partners {
	padding-bottom: 90px;
	&__inner {
		p {
			text-transform: uppercase;
			@extend %roboto-mono-bold;
			letter-spacing: 0.12em;
		}
	}
}
