@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

$maxWidth: 1180;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$color-text: #556680;
$color-green: #00760c;
$color-green-light: #039812;
$color-orange: #ff7300;
%roboto-mono-regular {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
}
%roboto-mono-bold {
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
}
%sans-narrow-regular {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
}
%sans-narrow-bold {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
}
%btn {
	width: 280px;
	background-color: #ff7300;
	height: 60px;
	color: #fff;
	line-height: 24px;
	@extend %roboto-mono-bold;
	text-transform: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
