// about
.about {
	padding: 70px 0 90px;
	@media (max-width: 991.98px) {
		padding: 58px 0;
	}

	.submenu {
		margin-bottom: 50px;
		&__inner {
			padding: 0 10px;
		}

		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			@media (max-width: 1200px) {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			@media (max-width: 636px) {
				justify-content: center;
			}
		}
		&__item {
			margin: 0 5px;
			@media (max-width: 1200px) {
				margin: 0 5px 10px;
			}
		}
		&__link {
			color: $color-text;
			@extend %roboto-mono-bold;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 24px;
			width: 180px;
			height: 30px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover,
			&._active {
				background-color: #ff7300;
				color: #fff;
			}
		}
	}

	&-about {
		&__inner {
			display: flex;
			justify-content: space-between;
			@media (max-width: 991.98px) {
				flex-direction: column;
			}
		}

		&__text {
			max-width: 585px;
			margin-right: 10px;
			@media (max-width: 991.98px) {
				max-width: 100%;
				margin-right: 0;
			}
			p {
				text-indent: 40px;
			}
			p:first-child {
				margin-top: 0;
			}
		}

		&__img {
			img {
				max-width: 480px;
			}
		}
	}

	&-news {
	}

	&-gallery {
		&__items {
			position: relative;
			overflow: hidden;
			padding: 0;
			z-index: 1;
		}
		&__item {
			flex: 0 0 100%;
			min-width: 0;
			width: 100%;
			height: 560px;
			@media (max-width: 900px) {
				height: 460px;
			}
			@media (max-width: 668px) {
				height: 360px;
			}
			@media (max-width: 468px) {
				height: 260px;
			}
			@media (max-width: 378px) {
				height: 200px;
			}
		}

		&__navigation {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			line-height: 0;
		}
		&__dots {
			margin: 0 15px;
			font-size: 18px;
		}

		&__arrows {
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
	}

	&-vacancies {
		&__inner {
			display: flex;
			justify-content: space-between;
			@media (max-width: 991.98px) {
				flex-direction: column;
			}
		}

		&__list {
			width: 55%;
			margin-right: 20px;
			@media (max-width: 991.98px) {
				width: 100%;
				margin-right: 0;
			}
		}

		&__img {
			max-width: 465px;
			width: 100%;
			height: 300px;
			background-size: cover;
			background-repeat: no-repeat;
			&:hover {
				transform: scale(1);
			}
			@media (max-width: 991.98px) {
				display: none;
			}
		}
	}
	.list-vacancies {
		&__item {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__name {
			font-size: 18px;
			font-weight: 600;
			cursor: pointer;
			padding: 10px;
			position: relative;
			background-color: $color-orange;
			color: #fff;
			transition: background-color 0.2s ease;
			&:hover {
				background-color: darken($color-orange, 3);
			}

			&::after {
				content: "+";
				position: absolute;
				right: 10px;
			}
			&._active {
				&::after {
					content: "-";
				}
			}
		}

		&__desc {
			display: none;
			padding: 10px;
			font-size: 14px;
		}
	}

	&-articles {
		&__prev {
			display: flex;
			justify-content: space-between;
		}

		&__prev-box {
			max-width: 582px;
			margin-right: 10px;
			@media (max-width: 991.98px) {
				max-width: 100%;
				margin-right: 0;
			}
		}

		&__prev-title {
			text-transform: uppercase;
			@extend %roboto-mono-bold;
			letter-spacing: 0.12em;
			@media (max-width: 991.98px) {
				margin-bottom: 30px;
			}
		}

		&__prev-text {
			font-size: 14px;
			text-indent: 30px;
		}

		&__prev-link {
			@extend %btn;
			width: 180px;
			height: 30px;
			text-transform: uppercase;
			margin-top: 30px;
		}

		&__prev-img {
			max-width: 480px;
		}

		.slider-about-articles {
			margin-top: 90px;
			&__body {
				display: flex;
				margin: 0 -5px;
				@media (max-width: 1205px) {
					flex-wrap: wrap;
				}
				@media (max-width: 906px) {
					margin: 0;
					justify-content: space-between;
				}
			}
		}

		&__slide {
			flex: 0 0 280px;
			margin: 0 5px 15px;
			height: 400px;
			position: relative;
			display: flex;
			align-items: flex-end;
			background: linear-gradient(360deg, rgba(12, 36, 62, 0.3) 20.12%, rgba(12, 36, 62, 0) 100%);
			padding: 0 14px 15px;
			color: #000;
			@media (max-width: 906px) {
				flex: 0 0 47%;
				margin: 0 0 15px;
			}
			@media (max-width: 550px) {
				flex: 0 0 100%;
			}
		}

		&__slide-bg {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			@media (max-width: 550px) {
				background-position: top 20% left;
			}
		}

		&__slide--title {
			@extend %roboto-mono-bold;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			color: #fff;
		}

		&__link {
			margin-top: 60px;
			@extend %btn;
			height: 30px;
			text-transform: uppercase;
		}
	}

	&-partners {
		&__inner {
			p {
				text-transform: uppercase;
				@extend %roboto-mono-bold;
				letter-spacing: 0.12em;
			}
		}
	}
}
