.request-call {
	background-color: $color-green-light;
	padding: 108px 0 78px;
	@media (max-width: 991.98px) {
		padding-top: 50px;
	}
	&__title {
		color: #fff;
		white-space: nowrap;
	}

	&__back {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	&__name,
	&__phone {
		max-width: 380px;
		width: 100%;
		height: 60px;
		padding: 0 10px 0 15px;
		border: 2px solid #0c243e;
		margin-right: 5px;
		@media (max-width: 991.98px) {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	&__btn {
		@extend %btn;
		border: none;
		max-width: 380px;
		width: 100%;
		@media (max-width: 991.98px) {
			max-width: 100%;
		}
	}

	&__label {
		margin-top: 38px;
		display: flex;
	}

	&__check {
		margin-right: 12px;
	}

	&__text {
		margin: 0;
		color: #fff;
		letter-spacing: -0.03em;
		@media (max-width: 410px) {
			font-size: 12px;
		}
	}

	&__link {
		color: #fff;
		text-decoration: underline;
	}
}
.footer {
	background-color: $color-green;
	padding-bottom: 20px;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 86px 0;
		color: #fff;
		flex-wrap: wrap;
	}

	&__item {
		width: 150px;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		@media (max-width: 1010px) {
			margin-right: 0;
			flex: 1 1 48%;
			margin-bottom: 20px;
		}
	}

	&__item-title {
		text-transform: uppercase;
		@extend %roboto-mono-bold;
		letter-spacing: 0.12em;
		font-size: 18px;
		white-space: nowrap;
	}

	&__menu-list {
		margin-top: 38px;
	}

	&__menu-item {
		margin-bottom: 21px;
	}

	&__menu-link {
		font-style: normal;
		color: #fff;
		letter-spacing: -0.03em;
		line-height: 20px;
		text-transform: lowercase;
		&:hover {
			text-decoration: underline;
		}
	}

	&__catalog {
		width: 240px;
	}

	&__info {
		width: 230px;
	}

	&__contacts {
		width: 290px;
		address.footer__menu-link:hover {
			text-decoration: none;
		}
	}

	&__police {
		width: 300px;
		color: #fff;
		text-decoration: underline;
		line-height: 24px;
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
}
