.section-top {
	margin-top: 58px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		@media (max-width: 840px) {
			justify-content: center;
		}
	}

	&__box {
		text-transform: uppercase;
		@media (max-width: 800px) {
			text-align: center;
		}
	}

	&__title {
		color: #4c75b2;
		white-space: nowrap;
		@extend %sans-narrow-bold;
		@include adaptiv-font(72, 57);
		line-height: 1.1;
		letter-spacing: 0.275em;
	}

	&__text-box {
		margin-top: 40px;
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		margin-right: 5px;
		@media (max-width: 410px) {
			flex-direction: column;
			margin: 40px 0;
		}
	}

	&__percent {
		@extend %sans-narrow-regular;
		font-size: 72px;
		line-height: 74px;
		letter-spacing: 0.275em;
	}

	&__text {
		@extend %roboto-mono-bold;
		font-size: 18px;
		letter-spacing: 0.1em;
		span {
			display: block;
			font-size: 12px;
			letter-spacing: 0.06em;
			margin-top: 10px;
		}
	}

	&__btn {
		@extend %btn;
		@media (max-width: 800px) {
			margin: 0 auto;
		}
	}

	&__img {
		position: relative;
		&::before {
			content: "";
			display: block;
			background-color: #00760c;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			transform: translate(200px, 100px);
		}
		img {
			max-width: 782px;
		}
		@media (max-width: 991.98px) {
			&::before {
				display: none;
			}
		}
		@media (max-width: 800px) {
			img {
				display: none;
			}
		}
	}
}

.products {
	margin-top: 190px;
	@media (max-width: 991.98px) {
		margin-top: 58px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// flex-wrap: wrap;
		margin: 0 0 50px;
		@media (max-width: 877px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 611px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		// width: 280px;
		height: 400px;
		position: relative;
		display: flex;
		align-items: flex-end;
		background: linear-gradient(33.67deg, rgba(12, 128, 255, 0.087) 3.04%, rgba(12, 36, 62, 0) 98.92%);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
		padding: 0 25px 32px;
		color: #000;
	}

	&__bg {
		background-repeat: no-repeat;
		position: absolute;
		background-position: right;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__item-title {
		text-transform: uppercase;
		letter-spacing: 0.12em;
	}

	&__btn {
		@extend %btn;
		align-self: center;
	}
}
.sale-slider {
	margin-top: 90px;
	background-color: #ff7300;

	&__inner {
		padding: 30px 0 49px;
		text-transform: uppercase;
		color: #fff;
	}

	&__offer {
		background-color: #0d233f;
		border-radius: 2px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.12em;
		padding: 4px 10px;
		display: inline-block;
		margin-bottom: 5px;
		white-space: nowrap;
	}

	&__items {
		position: relative;
		overflow: hidden;
		padding: 0;
		z-index: 1;
	}
	&__navigation {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		line-height: 0;
	}
	&__dots {
		margin: 0 15px;
		font-size: 18px;
	}

	&__arrows {
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}

	&__item {
		flex: 0 0 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		&:focus {
			outline: none;
		}
	}

	&__box {
		max-width: 500px;
		width: 100%;
		align-self: center;
		margin-bottom: 40px;
		@media (max-width: 991.98px) {
			padding: 0 15px;
		}
	}

	&__text {
		@extend %sans-narrow-regular;
		@include adaptiv-font(50, 40);
		// font-size: 50px;
		line-height: 1.5;
		letter-spacing: 0.12em;
		margin-bottom: 26px;
	}

	&__title {
		@extend %sans-narrow-regular;
		@include adaptiv-font(30, 21);
		line-height: 1.4;
		letter-spacing: 0.275em;
	}

	&__img {
		width: 100%;
		height: 100%;
		@media (max-width: 991.98px) {
			position: absolute;
			z-index: -1;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, 0.5);
			}
		}
	}
}
.about-home {
	padding: 120px 0;
	@media (max-width: 991.98px) {
		padding: 58px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		@media (max-width: 874px) {
			flex-direction: column;
		}
	}

	&__text {
		line-height: 24px;
		max-width: 585px;
		margin-right: 10px;
		@media (max-width: 874px) {
			max-width: 100%;
			margin-right: 0;
		}
		p {
			text-indent: 40px;
			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__img {
		img {
			max-width: 480px;
		}
	}
}

.partners {
	border-top: 3px dashed $color-text;
	border-bottom: 3px dashed $color-text;
	padding: 25px 0;
	margin-bottom: 58px;
	&__inner {
		position: relative;
		z-index: 1;
		padding: 0 50px;
	}

	&__body {
		overflow: hidden;
	}

	&__item {
		flex: 1 0 auto;
		min-width: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__navigation {
		display: flex;
		align-items: center;
	}
	&__arrows {
		width: 33px;
		height: 30px;
		position: absolute;
		top: 50%;
		margin: -15px 0 0;
		z-index: 2;
		line-height: 0;
		right: 0;
		cursor: pointer;
		outline: none;
	}
	&__arrow-prev {
		transform: rotate(180deg);
		left: 0;
	}
}
