//subcatalog
.subcatalog {
	padding: 40px 0 90px;
	@media (max-width: 991.98px) {
		padding: 30px 0;
	}
	&__title {
		text-align: center;
		@include adaptiv-font(36, 28);
		line-height: 1.2;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__row {
		display: flex;
		margin-top: 40px;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__aside {
		min-width: 300px;
		@media (max-width: 340px) {
			min-width: 270px;
		}
	}
	&__content {
		margin-left: 30px;
		@media (max-width: 1100px) {
			margin-left: 0;
		}
	}
}

.seria-subcatalog {
	&__sidebar {
		background-color: #ffffff;
		padding: 26px 20px 26px;
		border: 3px solid $color-orange;
		margin-bottom: 30px;
		width: 100%;
		position: sticky;
		top: 20px;
		@media (max-width: 1100px) {
			position: inherit;
		}
	}

	&__title {
		font-size: 20px;
		padding: 0 0 19px;
		font-weight: 700;
		border-bottom: 1px solid $color-orange;
		text-transform: uppercase;
		@media (max-width: 1100px) {
			position: relative;
			width: fit-content;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			border-bottom-width: 0px;
			padding: 0;
			transition: all 0.3s ease 0s;
			&._active {
				transition: all 0.3s ease 0s;
				left: 0;
				transform: translateX(0);
				width: 100%;
				border-bottom-width: 1px;
				padding: 0 0 19px;
			}
		}
	}

	&__link {
		color: $color-text;
		padding: 0 10px 0 18px;
		position: relative;
		&::before {
			content: "»";
			position: absolute;
			left: 0;
			color: $color-green;
		}
	}

	&__count {
		color: rgba($color-text, 0.6);
		&::after {
			content: ")";
		}
		&::before {
			content: "(";
		}
	}

	&__menu {
		margin-top: 20px;
		@media (max-width: 1100px) {
			display: none;
		}
		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content-subcatalog {
	&__title {
		font-size: 24px;
		line-height: 28px;
	}

	&__text {
		margin-top: 50px;
		ul {
			padding-left: 40px;
		}
		li {
			list-style: disc;
		}
		h3 {
			margin: 15px 0;
		}
	}
}
