//subcatalog
.subcatalog {
	padding: 20px 0 90px;
	&__title {
		text-align: center;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__row {
		display: flex;
		margin-top: 40px;
	}
	&__aside {
		min-width: 300px;
	}
	&__content {
		margin-left: 30px;
	}
}

.seria-subcatalog {
	&__sidebar {
		background-color: #ffffff;
		padding: 0px 20px 26px;
		border: 3px solid $color-orange;
		margin-bottom: 30px;
		width: 100%;
		position: sticky;
		top: 20px;
	}

	&__title {
		font-size: 20px;
		padding: 26px 0 19px;
		font-weight: 700;
		border-bottom: 1px solid $color-orange;
	}

	&__link {
		color: $color-text;
		padding: 0 10px 0 18px;
		position: relative;
		&::before {
			content: "»";
			position: absolute;
			left: 0;
			color: $color-green;
		}
	}

	&__count {
		color: rgba($color-text, 0.6);
		&::after {
			content: ")";
		}
		&::before {
			content: "(";
		}
	}

	&__menu {
		margin-top: 20px;
		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content-subcatalog {
	&__title {
		font-size: 24px;
		line-height: 28px;
	}

	&__text {
		margin-top: 50px;
		ul {
			padding-left: 40px;
		}
		li {
			list-style: disc;
		}
		h3 {
			margin: 15px 0;
		}
	}
}
